<% provide(:title, 'About Us') %>
 <h1>サイトについて</h1>

 <div id="about_top" class="about_top">
   <h2>ROOM POSTSとは</h2>
   　<p>ROOM POSTSは自分の部屋を投稿したり、いろんな人の部屋を見ることができる共有サイトです。</p>
   　<br><strong>・引っ越をする</strong></br>
   　<br><strong>・一人暮らしをする</strong></br>
   　<br><strong>・部屋の模様替えを考えている</strong></br>
   　<br><strong>・家具のレイアウトを変更したい</strong></br>
   　<p>など参考の仕方は様々です。</p>
   　<p>あなたのイメージにぴったりな写真を探してみて下さい。また、完成した部屋を投稿してみて下さい。</p>
 </div>
 
 </diV>
 
