<% provide(:title, 'All users') %>
<h1 class="users-title">閲覧したい人を選択してフォローしましょう！</h1>

<%= will_paginate render: BootstrapPagination::Rails %>

<ul class="users">
          <%= render @users %>
</ul>

<%= will_paginate render: BootstrapPagination::Rails %>