<footer class="footer">
    <nav>
    <ul>
      <li><%= link_to "このサイトについて",   about_path %></li>
      <li><%= link_to "お問い合わせ", new_contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org/">お知らせ</a></li>-->
    </ul>
  　</nav>
</footer>